USE [master]
GO
/****** Object:  Database [PlacementAgency]    Script Date: 11/8/2025 2:52:50 PM ******/
CREATE DATABASE [PlacementAgency]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlacementAgency', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PlacementAgency.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlacementAgency_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PlacementAgency_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlacementAgency].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlacementAgency]
GO
/****** Object:  Table [dbo].[csmcl_agency_mst]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[csmcl_agency_mst](
	[Agency_ID] [nvarchar](10) NOT NULL,
	[Agency_Name] [nvarchar](200) NULL,
 CONSTRAINT [PK_csmcl_Agency_Master] PRIMARY KEY CLUSTERED 
(
	[Agency_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[csmcl_district_mst]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[csmcl_district_mst](
	[Zone_ID] [nvarchar](10) NULL,
	[Agency_ID] [nvarchar](10) NULL,
	[District_ID] [int] NOT NULL,
	[District_Name] [nvarchar](200) NULL,
 CONSTRAINT [PK_csmcl_Distrct_Master] PRIMARY KEY CLUSTERED 
(
	[District_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[csmcl_DutyEntry]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[csmcl_DutyEntry](
	[EntryID] [nvarchar](50) NOT NULL,
	[Zone_ID] [varchar](10) NULL,
	[Agency_ID] [varchar](10) NULL,
	[District_ID] [int] NULL,
	[CategoryID] [nvarchar](10) NULL,
	[LocationID] [nvarchar](10) NULL,
	[RtypeID] [nvarchar](10) NULL,
	[NoOfDuties] [int] NULL,
	[Month] [varchar](10) NULL,
	[FY] [varchar](10) NULL,
	[ApproveByDishead] [nvarchar](10) NULL,
	[RejectByDishead_Note] [nvarchar](200) NULL,
	[ApproveByAgency] [nvarchar](50) NULL,
	[RejectByAgency_Note] [nvarchar](200) NULL,
	[ApproveByState] [nvarchar](50) NULL,
	[RejectByState_Note] [nvarchar](200) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](50) NULL,
 CONSTRAINT [PK__csmcl_Du__F57BD2D7E1BE131F] PRIMARY KEY CLUSTERED 
(
	[EntryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[csmcl_employeecategory_mst]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[csmcl_employeecategory_mst](
	[CategoryID] [nvarchar](5) NOT NULL,
	[CategoryName] [nvarchar](20) NULL,
 CONSTRAINT [PK_csmcl_employeecategory] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[csmcl_FY_mst]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[csmcl_FY_mst](
	[FYid] [nvarchar](10) NOT NULL,
	[FYname] [nvarchar](10) NULL,
 CONSTRAINT [PK_csmcl_FY_mst] PRIMARY KEY CLUSTERED 
(
	[FYid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[csmcl_location_mst]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[csmcl_location_mst](
	[LocationID] [nvarchar](3) NOT NULL,
	[LocationName] [nvarchar](20) NULL,
 CONSTRAINT [PK_csmcl_location_mst] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[csmcl_Month_mst]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[csmcl_Month_mst](
	[MonthID] [int] NOT NULL,
	[MonthName] [nvarchar](10) NULL,
 CONSTRAINT [PK_csmcl_Month_mst] PRIMARY KEY CLUSTERED 
(
	[MonthID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[csmcl_RateEntry_mst]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[csmcl_RateEntry_mst](
	[EntryID] [int] NOT NULL,
	[District_ID] [int] NULL,
	[FY] [varchar](10) NULL,
	[Month] [varchar](10) NULL,
	[CategoryID] [nvarchar](5) NULL,
	[LocationID] [nvarchar](3) NULL,
	[RtypeID] [nvarchar](5) NULL,
	[Amount] [decimal](18, 2) NULL,
	[HeadCount] [nchar](10) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](50) NULL,
	[LockFlag] [bit] NULL,
 CONSTRAINT [PK__RateEntr__F57BD2D7D74140C1] PRIMARY KEY CLUSTERED 
(
	[EntryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[csmcl_rateType_mst]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[csmcl_rateType_mst](
	[RtypeID] [nvarchar](5) NOT NULL,
	[RateTypeName] [nvarchar](10) NULL,
 CONSTRAINT [PK_csmcl_rateType_mst] PRIMARY KEY CLUSTERED 
(
	[RtypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[csmcl_zone_mst]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[csmcl_zone_mst](
	[Zone_ID] [nvarchar](10) NOT NULL,
	[Zone_Name] [nvarchar](10) NULL,
 CONSTRAINT [PK_csmcl_Zone_Master] PRIMARY KEY CLUSTERED 
(
	[Zone_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[csmcl_agency_mst] ([Agency_ID], [Agency_Name]) VALUES (N'AG1', N'M/s BOMBAY INTEGRATED SECURITY (INDIA) Ltd')
INSERT [dbo].[csmcl_agency_mst] ([Agency_ID], [Agency_Name]) VALUES (N'AG10', N'M/s Rajdeep Enterprise')
INSERT [dbo].[csmcl_agency_mst] ([Agency_ID], [Agency_Name]) VALUES (N'AG11', N'M/s Eagle Hunter Solutions Ltd')
GO
INSERT [dbo].[csmcl_district_mst] ([Zone_ID], [Agency_ID], [District_ID], [District_Name]) VALUES (N'Z1', N'AG1', 101, N'Raipur')
INSERT [dbo].[csmcl_district_mst] ([Zone_ID], [Agency_ID], [District_ID], [District_Name]) VALUES (N'Z2', N'AG2', 102, N'Balodabazar-Bhatapara')
INSERT [dbo].[csmcl_district_mst] ([Zone_ID], [Agency_ID], [District_ID], [District_Name]) VALUES (N'Z3', N'AG2', 103, N'Sarangarh-Bilaigarh')
GO
INSERT [dbo].[csmcl_DutyEntry] ([EntryID], [Zone_ID], [Agency_ID], [District_ID], [CategoryID], [LocationID], [RtypeID], [NoOfDuties], [Month], [FY], [ApproveByDishead], [RejectByDishead_Note], [ApproveByAgency], [RejectByAgency_Note], [ApproveByState], [RejectByState_Note], [EntryDate], [EntryBy], [UpdateDate], [UpdateBy]) VALUES (N'D2025110717268', N'Z1', N'AG1', 101, N'EC2', N'L1', N'RT1', 208, N'10', N'2025-26', N'0', N'change data', NULL, NULL, NULL, NULL, CAST(N'2025-11-07T14:46:54.383' AS DateTime), N'abc', CAST(N'2025-11-08T14:26:22.480' AS DateTime), N'System')
INSERT [dbo].[csmcl_DutyEntry] ([EntryID], [Zone_ID], [Agency_ID], [District_ID], [CategoryID], [LocationID], [RtypeID], [NoOfDuties], [Month], [FY], [ApproveByDishead], [RejectByDishead_Note], [ApproveByAgency], [RejectByAgency_Note], [ApproveByState], [RejectByState_Note], [EntryDate], [EntryBy], [UpdateDate], [UpdateBy]) VALUES (N'D2025110724306', N'Z1', N'AG1', 101, N'EC3', N'L2', N'RT3', 160, N'10', N'2025-26', N'0', N'change data', NULL, NULL, NULL, NULL, CAST(N'2025-11-07T14:50:20.840' AS DateTime), N'abc', CAST(N'2025-11-08T14:26:22.490' AS DateTime), N'System')
INSERT [dbo].[csmcl_DutyEntry] ([EntryID], [Zone_ID], [Agency_ID], [District_ID], [CategoryID], [LocationID], [RtypeID], [NoOfDuties], [Month], [FY], [ApproveByDishead], [RejectByDishead_Note], [ApproveByAgency], [RejectByAgency_Note], [ApproveByState], [RejectByState_Note], [EntryDate], [EntryBy], [UpdateDate], [UpdateBy]) VALUES (N'D2025110736537', N'Z1', N'AG1', 101, N'EC2', N'L2', N'RT3', 591, N'10', N'2025-26', N'0', N'change data', NULL, NULL, NULL, NULL, CAST(N'2025-11-07T14:49:50.433' AS DateTime), N'abc', CAST(N'2025-11-08T14:26:22.487' AS DateTime), N'System')
GO
INSERT [dbo].[csmcl_employeecategory_mst] ([CategoryID], [CategoryName]) VALUES (N'EC1', N'CHIEF SALESMAN')
INSERT [dbo].[csmcl_employeecategory_mst] ([CategoryID], [CategoryName]) VALUES (N'EC2', N'SALESMAN')
INSERT [dbo].[csmcl_employeecategory_mst] ([CategoryID], [CategoryName]) VALUES (N'EC3', N'MULTIPURPOSE')
GO
INSERT [dbo].[csmcl_FY_mst] ([FYid], [FYname]) VALUES (N'2023-24', N'2023-24')
INSERT [dbo].[csmcl_FY_mst] ([FYid], [FYname]) VALUES (N'2024-25', N'2024-25')
GO
INSERT [dbo].[csmcl_location_mst] ([LocationID], [LocationName]) VALUES (N'L1', N'Office')
INSERT [dbo].[csmcl_location_mst] ([LocationID], [LocationName]) VALUES (N'L2', N'Shop')
GO
INSERT [dbo].[csmcl_Month_mst] ([MonthID], [MonthName]) VALUES (1, N'January')
INSERT [dbo].[csmcl_Month_mst] ([MonthID], [MonthName]) VALUES (2, N'February')
INSERT [dbo].[csmcl_Month_mst] ([MonthID], [MonthName]) VALUES (3, N'March')
GO
INSERT [dbo].[csmcl_RateEntry_mst] ([EntryID], [District_ID], [FY], [Month], [CategoryID], [LocationID], [RtypeID], [Amount], [HeadCount], [EntryDate], [EntryBy], [UpdateDate], [UpdateBy], [LockFlag]) VALUES (1, NULL, NULL, NULL, N'EC1', N'L1', N'RT1', CAST(18655.00 AS Decimal(18, 2)), N'5         ', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[csmcl_RateEntry_mst] ([EntryID], [District_ID], [FY], [Month], [CategoryID], [LocationID], [RtypeID], [Amount], [HeadCount], [EntryDate], [EntryBy], [UpdateDate], [UpdateBy], [LockFlag]) VALUES (2, NULL, NULL, NULL, N'EC1', N'L2', N'RT1', CAST(18655.00 AS Decimal(18, 2)), N'41        ', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[csmcl_RateEntry_mst] ([EntryID], [District_ID], [FY], [Month], [CategoryID], [LocationID], [RtypeID], [Amount], [HeadCount], [EntryDate], [EntryBy], [UpdateDate], [UpdateBy], [LockFlag]) VALUES (3, NULL, NULL, NULL, N'EC2', N'L1', N'RT1', CAST(12675.00 AS Decimal(18, 2)), N'8         ', NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[csmcl_rateType_mst] ([RtypeID], [RateTypeName]) VALUES (N'RT1', N'Month')
INSERT [dbo].[csmcl_rateType_mst] ([RtypeID], [RateTypeName]) VALUES (N'RT2', N'OT')
INSERT [dbo].[csmcl_rateType_mst] ([RtypeID], [RateTypeName]) VALUES (N'RT3', N'Day')
GO
INSERT [dbo].[csmcl_zone_mst] ([Zone_ID], [Zone_Name]) VALUES (N'Z1', N'Zone1')
INSERT [dbo].[csmcl_zone_mst] ([Zone_ID], [Zone_Name]) VALUES (N'Z10', N'Zone10')
INSERT [dbo].[csmcl_zone_mst] ([Zone_ID], [Zone_Name]) VALUES (N'Z11', N'Zone11')
GO
ALTER TABLE [dbo].[csmcl_DutyEntry] ADD  CONSTRAINT [DF_csmcl_DutyEntry_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
/****** Object:  StoredProcedure [dbo].[csmcl_GetDutyEntries]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create or update the proc
CREATE   PROCEDURE [dbo].[csmcl_GetDutyEntries]
    @District_ID INT,
    @FY          VARCHAR(7),   -- e.g., '2025-26'
    @Month       TINYINT,       -- e.g., 10
    @ApproveByDishead nvarchar(10)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        de.CategoryID,
        de.LocationID,
        de.RtypeID,
        de.NoOfDuties,
        ec.CategoryName,
        lc.LocationName,
        rt.RateTypeName,
        de.RejectByDishead_Note
    FROM csmcl_DutyEntry AS de
    INNER JOIN csmcl_employeecategory_mst AS ec
        ON de.CategoryID = ec.CategoryID
    INNER JOIN csmcl_location_mst AS lc
        ON de.LocationID = lc.LocationID
    INNER JOIN csmcl_rateType_mst AS rt
        ON de.RtypeID = rt.RtypeID
    WHERE de.District_ID = @District_ID
      AND de.FY = @FY
      AND de.Month = @Month
      AND de.ApproveByDishead = @ApproveByDishead;
END;
GO
/****** Object:  StoredProcedure [dbo].[csmcl_sp_GetAllEmployeeCategories]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[csmcl_sp_GetAllEmployeeCategories]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CategoryID, 
        CategoryName
    FROM 
        csmcl_employeecategory_mst
    ORDER BY 
        CategoryID;
END;
GO
/****** Object:  StoredProcedure [dbo].[csmcl_sp_GetAllFY]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[csmcl_sp_GetAllFY]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        FYid, 
        FYname
    FROM 
        csmcl_FY_mst
    ORDER BY 
        FYid;
END;
GO
/****** Object:  StoredProcedure [dbo].[csmcl_sp_GetAllLocations]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[csmcl_sp_GetAllLocations]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        LocationID, 
        LocationName
    FROM 
        csmcl_location_mst
    ORDER BY 
        LocationID;
END;
GO
/****** Object:  StoredProcedure [dbo].[csmcl_sp_GetAllMonths]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[csmcl_sp_GetAllMonths]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        MonthID,
        MonthName
    FROM 
        csmcl_Month_mst
    ORDER BY 
        MonthID;
END;
GO
/****** Object:  StoredProcedure [dbo].[csmcl_sp_GetAllRateTypes]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[csmcl_sp_GetAllRateTypes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        RtypeID, 
        RateTypeName
    FROM 
        csmcl_rateType_mst
    ORDER BY 
        RtypeID;
END;
GO
/****** Object:  StoredProcedure [dbo].[csmcl_sp_GetDutyEntries]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[csmcl_sp_GetDutyEntries]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        EntryID, Zone_ID, Agency_ID, District_ID,
        CategoryID, LocationID, RtypeID, NoOfDuties,
        Month, FY,
        ApproveByDishead, ApproveByAgency, ApproveByState,
        EntryDate, EntryBy, UpdateDate, UpdateBy
    FROM csmcl_DutyEntry
    ORDER BY EntryDate DESC, EntryID;
END;
GO
/****** Object:  StoredProcedure [dbo].[csmcl_sp_GetDutyEntryDetails]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[csmcl_sp_GetDutyEntryDetails]
    @District_ID INT       = NULL,   -- pass NULL to ignore
    @Month       TINYINT   = NULL,   -- 1-12; pass NULL to ignore
    @FY          VARCHAR(7)= NULL,    -- e.g. '2025-26'; pass NULL to ignore
    @ApproveByDishead  nvarchar(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        de.EntryID,
        de.Zone_ID,
        z.Zone_Name,
        de.Agency_ID,
        a.Agency_Name,
        de.District_ID,
        d.District_Name,
        de.CategoryID,
        ec.CategoryName,
        de.LocationID,
        l.LocationName,
        de.RtypeID,
        rt.RateTypeName,
        de.NoOfDuties,
        de.Month,
        m.MonthName,
        de.FY,
         de.ApproveByDishead, 
        de.ApproveByAgency, 
         de.ApproveByState,
        de.EntryDate,
        de.EntryBy,
        de.UpdateDate,
        de.UpdateBy
    FROM csmcl_DutyEntry AS de
    INNER JOIN csmcl_zone_mst              AS z  ON de.Zone_ID     = z.Zone_ID
    INNER JOIN csmcl_agency_mst            AS a  ON de.Agency_ID   = a.Agency_ID
    INNER JOIN csmcl_district_mst          AS d  ON de.District_ID = d.District_ID
    INNER JOIN csmcl_employeecategory_mst  AS ec ON de.CategoryID  = ec.CategoryID
    INNER JOIN csmcl_location_mst          AS l  ON de.LocationID  = l.LocationID
    INNER JOIN csmcl_Month_mst             AS m  ON de.Month       = m.MonthID
    INNER JOIN csmcl_rateType_mst          AS rt ON de.RtypeID     = rt.RtypeID
    WHERE
        (@District_ID IS NULL OR de.District_ID = @District_ID)
        AND (@Month   IS NULL OR de.Month       = @Month)
        AND (@FY      IS NULL OR de.FY          = @FY)
        AND (@ApproveByDishead      IS NULL OR de.ApproveByDishead          = '0')
    ORDER BY 
        de.EntryDate DESC, de.EntryID;
END;
GO
/****** Object:  StoredProcedure [dbo].[csmcl_sp_GetLocationByID]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[csmcl_sp_GetLocationByID]
    @LocationID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        LocationID, 
        LocationName
    FROM 
        csmcl_location_mst
    WHERE 
        LocationID = @LocationID;
END;
GO
/****** Object:  StoredProcedure [dbo].[csmcl_sp_InsertDutyEntry]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[csmcl_sp_InsertDutyEntry]
    @EntryID        VARCHAR(50),
    @Zone_ID        VARCHAR(10),
    @Agency_ID      VARCHAR(10),
    @District_ID    INT,
    @CategoryID     nvarchar(5),
    @LocationID     nvarchar(3),
    @RtypeID        nvarchar(5),
    @NoOfDuties     INT,
        @ApproveByDishead  nvarchar(10),
    @Month          VARCHAR(10),
    @FY             VARCHAR(10),

    @EntryBy        VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO csmcl_DutyEntry
    (
        EntryID,
        Zone_ID,
        Agency_ID,
        District_ID,
        CategoryID,
        LocationID,
        RtypeID,
        NoOfDuties,
        ApproveByDishead,
        Month,
        FY,
      
        EntryBy
    )
    VALUES
    (
        @EntryID,
        @Zone_ID,
        @Agency_ID,
        @District_ID,
        @CategoryID,
        @LocationID,
        @RtypeID,
        @NoOfDuties,
        @ApproveByDishead,
        @Month,
        @FY,
        @EntryBy
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[csmcl_sp_UpdateApproveByDisthead]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[csmcl_sp_UpdateApproveByDisthead]
    @District_ID INT,
    @FY          NVARCHAR(10),
    @Month       NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE csmcl_DutyEntry
    SET 
        ApproveByDishead = '1',
        UpdateDate = GETDATE(),
        UpdateBy = SYSTEM_USER
    WHERE 

        District_ID = @District_ID
        AND FY = @FY
        AND Month = @Month;
END;
GO
/****** Object:  StoredProcedure [dbo].[csmcl_sp_UpdateRejectByDisthead_note]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[csmcl_sp_UpdateRejectByDisthead_note]
    @District_ID INT,
    @FY          NVARCHAR(10),
    @Month       NVARCHAR(10),
    @RejectByDishead_Note       NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE csmcl_DutyEntry
    SET 
        ApproveByDishead = '4',
       RejectByDishead_Note = @RejectByDishead_Note,
        UpdateDate = GETDATE(),
        UpdateBy = SYSTEM_USER
    WHERE 

        District_ID = @District_ID
        AND FY = @FY
        AND Month = @Month
END;
GO
/****** Object:  StoredProcedure [dbo].[csmcl_UpdateDutyEntries]    Script Date: 11/8/2025 2:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[csmcl_UpdateDutyEntries]
    @District_ID INT,
    @FY           VARCHAR(7),
    @Month        TINYINT,
    @CategoryID   NVARCHAR(10),   -- EC1, EC2, EC3
    @LocationID   NVARCHAR(10),   -- L1, L2
    @RtypeID      NVARCHAR(10),   -- RT1, RT2, RT3
    @NoOfDuties   INT,
    @UpdateBy     NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE csmcl_DutyEntry
    SET 
         ApproveByDishead = '0',
        NoOfDuties = @NoOfDuties,
        UpdateBy   = @UpdateBy,
        UpdateDate = GETDATE()
    WHERE 
        District_ID = @District_ID
        AND FY       = @FY
        AND Month    = @Month
        AND CategoryID = @CategoryID
        AND LocationID = @LocationID
        AND RtypeID    = @RtypeID;
END;
GO
USE [master]
GO
